
#background-desktop-video {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#background-mobile-video {
    display: none;
}

.social-buttons {
    margin-top: 2vh;
    display:flex;
    flex-wrap: wrap; /* Allows divs to wrap on smaller screens */
    justify-content:center;
    align-items:center;
}

.center {
    display:flex;
    flex-wrap: wrap; /* Allows divs to wrap on smaller screens */
    justify-content:center;
    align-items:center;
}


.middle {
    margin-top: 5vh;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.firstDiv {
    display: flex; /* Enable flexbox for firstDiv */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Center eleme*/
    flex: 1; /* Makes divs equal width for desktop */
    padding: 10px; /* Optional padding for content */
    margin: 5px; /* Optional margin for spacing */
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.thirdDiv {
    display: flex;
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Center eleme*/
    flex: 1; /* Makes divs equal width for desktop */
    padding: 10px; /* Optional padding for content */
    margin: 5px; /* Optional margin for spacing */
}

.secondDiv {
    flex: 1; /* Makes divs equal width for desktop */
    padding: 10px; /* Optional padding for content */
    margin: 5px; /* Optional margin for spacing */
}

.firstDiv .cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    margin-bottom: 15px;
}

.premier {
    display: flex; /* Enable flexbox for firstDiv */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Center eleme*/
    flex: 1; /* Makes divs equal width for desktop */
    padding: 10px; /* Optional padding for content */
    margin: 5px; /* Optional margin for spacing */
}

#countdownDisplay {
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Mono", monospace;
    color: #ECEB6F;
}

@media only screen and (max-width: 768px) { /* Change breakpoint as needed */

    body {
        overflow: auto;
    }

    .social-buttons {
        margin-top: 2vh;
        display:flex;
        flex-wrap: wrap; /* Allows divs to wrap on smaller screens */
        justify-content:center;
        align-items:center;
    }
    
    #background-desktop-video {
        display: none;
    }

    .middle {
        margin-top: 5px;
    }    
    
    #background-mobile-video {
        background-size: cover !important;
        display: block;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .center {
      padding-left: 40px;
      padding-right: 40px;
      flex-direction: column; /* Makes divs vertical on mobile */
    }
    .firstDiv {
        order:3;
    }

    .secondDiv {
        order:2;
    }

    .firstDiv .cover {
        height: auto;
    }

    img {
        width: 100%;
    }
    .thirdDiv {
        order:1;
    }    
}
