body {
    overflow: hidden;
}
#background-desktop-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#background-mobile-video {
    display: none;
}

.center {
    display:flex;
    flex-wrap: wrap; /* Allows divs to wrap on smaller screens */
    justify-content:center;
    align-items:center;
}


.middle {
    margin-top: 220px;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.firstDiv {
    display: flex; /* Enable flexbox for firstDiv */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Center eleme*/
    flex: 1; /* Makes divs equal width for desktop */
    padding: 10px; /* Optional padding for content */
    margin: 5px; /* Optional margin for spacing */
}

.thirdDiv {
    display: flex;
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Center eleme*/
    flex: 1; /* Makes divs equal width for desktop */
    padding: 10px; /* Optional padding for content */
    margin: 5px; /* Optional margin for spacing */
}

.secondDiv {
    flex: 1; /* Makes divs equal width for desktop */
    padding: 10px; /* Optional padding for content */
    margin: 5px; /* Optional margin for spacing */
}

.secondDiv img {
    height: 449px;
}

.premier {
    justify-content: center;
    align-items: center;
}

#countdownDisplay {
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Mono", monospace;
    color: #ECEB6F;
}

@media only screen and (max-width: 768px) { /* Change breakpoint as needed */
    #background-desktop-video {
        display: none;
    }

    .middle {
        margin-top: 100px;
    }    
    
    #background-mobile-video {
        background-size: cover !important;
        display: block;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .center {
      flex-direction: column; /* Makes divs vertical on mobile */
    }
    .firstDiv {
        order:3;
    }

    .secondDiv {
        order:2;
    }

    .secondDiv img {
        height: 300px;
        width: 265px;
    }

    img {
        width: 100%;
    }
    .thirdDiv {
        order:1;
    }    
}
